In [3]:
import pandas as pd


df = pd.DataFrame.from_dict({
    'Date': pd.date_range('2022-01-01', '2022-01-11'),
    'Sales': [198, 123, 973, 761, 283, 839, 217, 666, 601, 992, 205]
})
df.sample(3)

        Date  Sales
8 2022-01-09    601
2 2022-01-03    973
4 2022-01-05    283

In [12]:
df['yesterday_sales'] = df['Sales'].shift(1)
df['since_yesterday_sales'] = df['Sales'].diff()
df['until_tomorrow_sales'] = df['Sales'].diff(-1)
df.sample(3)

,Date,Sales,yesterday_sales,since_yesterday_sales,until_tomorrow_sales
2,2022-01-03,973,123.0,850.0,212.0
3,2022-01-04,761,973.0,-212.0,478.0
10,2022-01-11,205,992.0,-787.0,NaN