In [1]:
import pandas as pd

df_customer = pd.read_csv('data/customer.csv')
df_sales = pd.read_csv('data/sales.csv')
df_products = pd.read_csv('data/products.csv')

In [2]:
df_customer.sample(3)

   c_id Customer
6     8      Jem
3     4     Rani
7     9      Tom

In [3]:
df_products.sample(3)

   p_id       product  price
5     6         Mouse     10
3     4           CPU     55
7     8  Power supply     20

In [4]:
df_sales.sample(3)

   sale_id  c_id  p_id  product  qty store
3        4     4     2      RAM    2   DEF
6        7     2     2      RAM    3   ABC
5        6     3     3  Monitor    2   DEF

- List of products sold
- List of quantity sold against each product.
- List of quantity and total sales against each product
- List of quantity sold against each product and against   each store.
- List of quantity sold against each Store with total turnover of the store.
- List of products which are not sold
- List of customers who have not purchased any product.

In [17]:
df_sales_agg = df_sales.groupby(['p_id', 'product'])[['qty']].sum()

df_sales_agg.sample(3)

              qty
p_id product
3    Monitor   12
4    CPU        1
2    RAM        7

In [19]:
df_sold = pd.merge(df_sales_agg, df_products, how='left', on='p_id')

df_sold['total_sale'] = df_sold['qty'] * df_sold['price']

df_sold.sample(3)

   p_id  qty  product  price  total_sale
0     2    7      RAM     90         630
1     3   12  Monitor     75         900
2     4    1      CPU     55          55

In [31]:
df_store_prods = df_sales.groupby(['store', 'product', 'p_id'])[['qty']].sum()

df_store_prods.loc[df_store_prods['qty'] > 3]

                    qty
store product p_id
ABC   Monitor 3      10
DEF   RAM     2       4